name: pandoc

on:
  push:
    branches:
      - main
      - feature/*
    paths:
      - Chapter*.md
      - listing.tex
      - .github/workflows/pandoc.yaml

jobs:
  build-pdf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: list-files
        run: echo "chapter=$(ls -1 Chapter*.md | sort -V | tr '\n' ' ' | sed 's/ $//')" >> "$GITHUB_OUTPUT"
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker://ghcr.io/lpi-japan/server-text:latest
        with:
          args: >-
            -o guide.pdf
            -N
            --toc
            --toc-depth=3
            -F pandoc-crossref
            -H listing.tex
            --listings
            --highlight-style=tango
            -V documentClass=ltjarticle
            -V mainfont=TakaoPGothic
            --pdf-engine=lualatex
            ${{ steps.list-files.outputs.chapter }}
      - uses: actions/upload-artifact@v3
        with:
          name: guide.pdf
          path: guide.pdf
